/* Artfully masterminded by ZURB  */

/* -------------------------------------------------- 
   Table of Contents
-----------------------------------------------------
:: Shared Styles
:: Page Name 1
:: Page Name 2
*/


/* -----------------------------------------
   Shared Styles
----------------------------------------- */
body {
  font-family: 'Rambla', sans-serif;
  background: #000000;
  margin: 0px;
  padding: 0px;
  background: #0f0a20 url(../images/pattern.jpg) top center fixed;
  color: #FFFFFF;
  text-align: center;  
  display: block;
}
.row, hr {
  background: #000000;
}
.center {
  text-align: center;
}
.pull-right {
  float: right;
}
.pull-left {
  float: left;
}
.nav-bar {
  margin: 30px 0 30px 0;
  padding: 0px;
}
.nav-bar li:hover {
  background: #800000;
}
.welcome {
  font-family: 'Trocchi', serif;
  font-size: 40px;
  color: #FFFFFF;
}
.intro-icon {
  width: 140px;
}
.icon-container {
  height: 100px;
}
.reel {
  
}
.mic {
  padding-top: 26px;
}
.cassette {
  padding-top: 32px;
}
.link {
  padding-top: 25px;
}
.facebook, .twitter {
  border: none !important;
  float: right !important;
}
.featurette-divider {
  padding: 80px 0;
}
.featurette h2 {
  font-size: 50px;
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}
.lead {
  margin-bottom: 20px;
  font-size: 21px;
  font-weight: 200;
  line-height: 30px;
}
.featurette-image {
  margin-top: 20px;
  width: 400px;
}
.featurette-image.pull-right {
  margin-left: 40px;
}
.featurette-image.pull-left {
  margin-left: 40px;
}
.footer p {
  font-size: 12px;
}
.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px; height: 0; overflow: hidden;
}
.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50%;
}
.music-player {
  height: 470px !important;
}

@media only screen and (max-width: 767px) {
  .featurette-image.pull-right {
    display: block;
    float: none;
    max-width: 100%;
    margin: 0 auto 20px;
  }
  .featurette-image.pull-left {
    display: block;
    float: none;
    max-width: 100%;
    margin: 0 auto 20px;
  }
  .featurette-divider {
    padding: 20px 0;
  }
  .icon-container {
    height: 170px;
  }  
}