/* Artfully masterminded by ZURB  */

/* -------------------------------------------------- 
   Table of Contents
-----------------------------------------------------
:: Shared Styles
:: Page Name 1
:: Page Name 2
*/


/* -----------------------------------------
   Shared Styles
----------------------------------------- */
body {
  font-family: 'Rambla', sans-serif;
  background: #000000;
  margin: 0px;
  padding: 0px;
  background: #0f0a20 url(../images/pattern.jpg) top center fixed;
  background-repeat: repeat-x;
  color: #FFFFFF;
  text-align: center;  
  display: block;
}
.row, hr {
  background: #000000;
}
.center {
  text-align: center;
}
.pull-right {
  float: right;
}
.pull-left {
  float: left;
}
.welcome {
  font-family: 'Trocchi', serif;
  font-size: 40px;
  color: #FFFFFF;
}
.intro-icon {
  width: 140px;
}
.mic-icon {
  width: 100px;
}
.icon-container {
  /*height: 100px;*/
  padding-top: 50px;
}
.cassette {
  padding-top: 68px;
}
.reel {
/*margin-top: 25px;*/
}
.mic {
  padding-top: 40px;
}
.featurette-divider {
  padding: 80px 0;
}
.featurette h2 {
  font-size: 50px;
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}
.lead {
  margin-bottom: 20px;
  font-size: 21px;
  font-weight: 200;
  line-height: 30px;
}
.featurette-image {
  width: 400px;
}
.right-padding {
  padding-right: 37px;
}
.footer p {
  font-size: 10px;
  padding: 0;
}
.music-player iframe{
  height: 465px !important;
  display: inline !important;
}

@media only screen and (max-width: 767px) {
  body {
   background: black; 
  }
  .featurette-image.pull-right {
    display: block;
    float: none;
    max-width: 100%;
    margin: 50px auto 20px;
  }
  .featurette-image.pull-left {
    display: block;
    float: none;
    max-width: 100%;
    margin: 0 auto 20px;
  }
  .featurette-divider {
    padding: 20px 0;
  }
  .icon-container {
    height: 170px;
  }  
}